Bumblebee/Bumblebee/Connected Services/RegistrationServiceReference/RegistrationWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:insertCustomer" />
  </wsdl:message>
  <wsdl:message name="insertCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:insertCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="RegistrationWebServiceSoap">
    <wsdl:operation name="insertCustomer">
      <wsdl:input message="tns:insertCustomerSoapIn" />
      <wsdl:output message="tns:insertCustomerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistrationWebServiceSoap" type="tns:RegistrationWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertCustomer">
      <soap:operation soapAction="http://tempuri.org/insertCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegistrationWebServiceSoap12" type="tns:RegistrationWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertCustomer">
      <soap12:operation soapAction="http://tempuri.org/insertCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistrationWebService">
    <wsdl:port name="RegistrationWebServiceSoap" binding="tns:RegistrationWebServiceSoap">
      <soap:address location="https://localhost:44343/RegistrationWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="RegistrationWebServiceSoap12" binding="tns:RegistrationWebServiceSoap12">
      <soap12:address location="https://localhost:44343/RegistrationWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>