Bumblebee/Bumblebee/Connected Services/AdminServiceReference/AdminPanelWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Productname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductPrice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="categoryname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Brandname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertProductResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertProductSoapIn">
    <wsdl:part name="parameters" element="tns:insertProduct" />
  </wsdl:message>
  <wsdl:message name="insertProductSoapOut">
    <wsdl:part name="parameters" element="tns:insertProductResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminPanelWebServiceSoap">
    <wsdl:operation name="insertProduct">
      <wsdl:input message="tns:insertProductSoapIn" />
      <wsdl:output message="tns:insertProductSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminPanelWebServiceSoap" type="tns:AdminPanelWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertProduct">
      <soap:operation soapAction="http://tempuri.org/insertProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminPanelWebServiceSoap12" type="tns:AdminPanelWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertProduct">
      <soap12:operation soapAction="http://tempuri.org/insertProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminPanelWebService">
    <wsdl:port name="AdminPanelWebServiceSoap" binding="tns:AdminPanelWebServiceSoap">
      <soap:address location="https://localhost:44343/AdminPanelWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminPanelWebServiceSoap12" binding="tns:AdminPanelWebServiceSoap12">
      <soap12:address location="https://localhost:44343/AdminPanelWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>